/* General */
body {
    background-color: lightgray;
}

/* Mixin para centrar elementos */
@mixin centrar {
    margin: 0 auto;
    display: block;
}

/* Mixin para listas sin estilo */
@mixin lista-sin-estilo {
    list-style-type: none;
    padding: 0;
}

/* Mixin para botones reutilizables */
@mixin boton($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añadir transición */
}

/* Clase base para centrar texto */
.centrado {
    text-align: center;
}

/* Clase base para botones */
.boton {
    @include boton(black, white);
}

/* Clase específica para botones redondos */
.boton-redondo {
    @extend .boton;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    font-size: 20px;
    padding: 20px;
    display: none;
    transition: opacity 0.5s ease, transform 0.3s ease; /* Transición de opacidad y escala */
}

/* Mostrar el botón cuando se haga scroll */
#scrollTopBtn.show {
    display: block;
    opacity: 1; /* Aparece cuando la clase 'show' está activa */
    transform: scale(1.1); /* Agranda el botón al aparecer */
}

/* Transformación en el logo */
#logo {
    @include centrar;
    width: 50%;
    transition: transform 0.3s ease-in-out;
}

/* Animación de barrido en el logo */
@keyframes barrido-logo {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

#logo {
    animation: barrido-logo 3s forwards;
}

/* Estilos adicionales */
h1, h2, h3, h4, footer {
    @extend .centrado;
}

#info {
    @include lista-sin-estilo;
    max-width: 600px;
}

#info li {
    margin-bottom: 10px;
}

#accion a {
    @extend .boton;
    margin-top: 20px;
}

/* Transición en el color de fondo de los botones */
.boton:hover {
    background-color: #28a745; /* Cambio a verde */
    transform: scale(1.05); /* Escala ligeramente el botón */
}

/* Eliminar animación en el banner */
#banner {
    @include centrar;
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* Estilo en el logo y banner para efecto hover */
#logo:hover, #banner:hover {
    transform: scale(1.1); /* Escala el logo o banner al 110% */
}

/* Nueva clase para el banner sin animaciones */
.fixed-banner {
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: auto;
    /* No se aplica animación */
    transition: none;
}
